@import "tailwindcss";

@theme {
  --color-blue-primary: #2DAAFF;  
  --color-blue-secondary: #2DAAFF;
  --color-red-primary: #B80B0B;
  --color-red-secondary: #EB3939;
  --color-green-primary: #13A92E;
  --shadow-tableItem: 0 0 2px 1px rgba(0, 0, 0, 0.16);
}
